spring:
  application:
    name: task-api
  jpa:
    open-in-view: false
  datasource:
    url: jdbc:postgresql://localhost:5432/task-db
    username: postgres
    password: postgres
  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-migration-naming: true
    validate-on-migrate: true
    schemas: tms
    create-schemas: true
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 10000
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
  cache:
    redis:
      time-to-live: 3600000
      cache-null-values: false

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:86400000}