spring:
  application:
    name: task-api
  jpa:
    open-in-view: false
  datasource:
    url: jdbc:postgresql://localhost:5432/task-db
    username: postgres
    password: postgres
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 2000
      idle-timeout: 300000
      max-lifetime: 1200000
      pool-name: TaskAPIPool
      connection-test-query: SELECT 1
      register-mbeans: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-migration-naming: true
    validate-on-migrate: true
    schemas: tms
    create-schemas: true
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 10000
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
  cache:
    redis:
      time-to-live: 3600000
      cache-null-values: false

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:86400000}

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,info,caches
  endpoint:
    health:
      show-details: always
  metrics:
    enable:
      hikaricp: true